name: Deploy Vulnerable Application                                  # workflow name

on:
  push:
    branches:
      - master
jobs:
  security-scan:
    name: Security Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: javascript
      - name: Autobuild CodeQL
        uses: github/codeql-action/autobuild@v2

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2


      - name: Install node dependencies
        run: npm install

      - name: Run npm audit
        run: |
          npm audit --audit-level=moderate || true
          npm audit --json > npm-audit.json || true


      - name: Build Docker image For Scanning
        run: docker build -t vulnerable-web-app:${{ github.sha }} .
  
      - name: Trivy container scan
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: vulnerable-web-app:${{ github.sha }} .
          severity: CRITICAL,HIGH
          format: sarif
          output: trivy-results.sarif
          exit-code: 0
          ignore-unfixed: true

      - name: Upload Trivy results to GitHub Security
        uses: github/codeql-action/upload-sarif@v2
        with:
            sarif_file: trivy-results.sarif


          

  
  deploy-heroku:
    name: Deploy Heroku
    needs: security-scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Heroku CLI
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh
      - uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "app-vulnerable-lucia-galiano" #Must be unique in Heroku
          heroku_email: "luciaagaliano@gmail.com"
          branch: "master"
          usedocker: true
